header{
    background-color: rgb(163, 22, 22);
    border: black;
    height: 100px;
    width: 100%;
    margin-top: 72px;
    margin-left: 105px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}
 li{
    display: inline-block;
    text-decoration: none;
}