

#destaques1{
    background-color: rgb(126, 23, 126);
height: 350px;
width: 70%;
margin-left: 5%;
margin-right: 5%;
    position: relative;
}
#titulo{
    color: white;
    margin-left: 21px;
    margin-top: 65px;
    padding-top: 22px;
    font-family: 'Times New Roman', Times, serif;
}
#destaques{
    background-color: rgba(204, 0, 204, 0.747);
}
#livro{
    margin-left: 225px;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}

section img{
   width: 30%;
   float: left;
   margin-left: 20px;
   margin-top: 30px;
}
#gigi{
    float: right;
    width: 60%;
    margin-top: 30px;
    margin-right: 48px;
   
    
}

#paragrafo1{
    margin-left: 215px;
    color: white;
    margin-right: 10px;
    margin-top: 30px;
}
.botao{
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 15px;
    border: none;
    float: right;
    margin-right: 30px;
  margin-top: 20px;
  width: 80px;
}

header{
    background-color: rgb(95, 0, 0);
    border: black;
    height: 100px;
    width: 100%;
    margin-top: 30px;
 
 
}
 li{
    display: inline-block;
    text-decoration: none;
    margin-top: 70px;
    margin-left: 110px;
    color: white;
}
button:hover{
background-color: firebrick;
font-family: monospace;
}
button{
    font-family: monospace;
    border: none;
   font-size: 15px; 
   background-color: rgb(80, 0, 0);
   color: white;
}

#destaques1{
    background-color: rgb(126, 23, 126);
height: 300px;
width: 55%;
margin-left: 5%;
margin-right: 5%;
    position: relative;
    
}
#titulo{
    color: white;
    margin-left: 21px;
    margin-top: 90px;
    padding-top: 22px;
    font-family: 'Times New Roman', Times, serif;
}
#destaques{
    background-color: rgba(204, 0, 204, 0.747);
}
#livro{
    margin-left: 275px;
    color: white;
    font-size: 20px;
}
#paragrafo1{
    margin-left: 215px;
    color: white;
    margin-right: 11px;
    margin-top: 30px;
}
.botao{
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 15px;
    border: none;
    float: right;
    margin-right: 30px;
  margin-top: 20px;
}

header{
    background-color: rgb(95, 0, 0);
    border: black;
    height: 100px;
    width: 100%;
    margin-top: 30px;
 
 
}
 li{
    display: inline-block;
    text-decoration: none;
    margin-top: 70px;
    margin-left: 110px;
    color: white;
}
button:hover{
background-color: firebrick;
font-family: monospace;
}
button{
    font-family: monospace;
    border: none;
   font-size: 14px; 
   background-color: rgb(80, 0, 0);
   color: white;
   width: 90px;
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


#quadrado1{
    
    height: 25%;
    width: 30%;
    margin-left: 5%;
    margin-right: 20%;
    position: relative;
    background-color: rgb(0, 157, 255);
    
    
    
}

#titulo1{
    color: white;
    margin-left: 10px;
    margin-top: 15px;
    padding-top: 9px;
    font-family: 'Times New Roman', Times, serif;
    
}

#title1{
    background-color: cornflowerblue;
}

#artigo1{
    color: white;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 7px;
}

#texto1{
    color: white;
    font-size: 16px;
    margin-left: 8px;
}

.botao1{
    background-color: white;
    color: black;
    font-size: 13px;
    border: none;
    margin-left: 255px;
    padding: 2px;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    margin-top: 8px;
}

.botao1:hover{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

#title2{
    background-color: cornflowerblue;
    margin-top: 8px;
}

#titulo2{
    color: white;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 130px;
}

#lista1{
    color: white;
    font-size: 16px;
    margin-left: 1px;
    margin-top: 10px;
    padding: 1px;
}

#quadrado2{
  
    height: 25%;
    width: 30%;
    margin-left: 2%;
    margin-right: 100px;
    background-color: darkgreen;
}

#titulo3{
    color: white;
    margin-left: 10px;
    margin-top: 15px;
    padding-top: 9px;
    font-family: 'Times New Roman', Times, serif;
    
}

#title3{
    background-color: rgb(63, 107, 47);
}

#artigo2{
    color: white;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 7px;
}

#texto2{
    color: white;
    font-size: 16px;
    margin-left: 8px;
}

.botao2{
    background-color: white;
    color: black;
    font-size: 13px;
    border: none;
    margin-left: 255px;
    padding: 2px;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    
}

.botao2:hover{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}


#title4{
    background-color: rgb(63, 107, 47);
    margin-top: 8px;
}

#lista2{
    color: white;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 3px;
}

#titulo4{
    color: white;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 130px;
}
#final{
    height: 40px;
    width: 1480px;
    display: block;
    background-color: burlywood;
    margin-top: 200px;
    margin-bottom: 20px;
    margin-left: 27px;
}

#titulofinal{
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
}
